/* Fade in para elementos ao entrar na tela */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Classe aplicada quando o elemento entra em tela */
.animate-on-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease-out;
}

.animate-on-scroll.visible {
    animation: fadeInUp 0.6s ease-out forwards;
}

/* Skills Animation */

/* FRONTEND: Direita → Esquerda */
.frontend {
    animation: moveLeft 30s linear infinite;
}

/* BACKEND: Esquerda → Direita */
.backend {
    animation: moveRight 30s linear infinite;
}

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

/*  */
@keyframes blink {

    0%,
    50% {
        border-color: var(--primary-color);
    }

    51%,
    100% {
        border-color: transparent;
    }
}


/* Animação para foto de perfil */

@keyframes moving-to {
    50% {
        transform: scale(1.02);
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }
}