body.dark-mode {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);

    #toggle-dark {
        position: fixed;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
    }
}