/* MODO DARK */

body.dark-mode {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);

    .header {
        background-color: var(--text-color);

        .header__logo {
            .header__logo-link {
                color: var(--dark-text-color);
            }
        }

        .header__nav {
            .header__nav-link {
                color: var(--dark-text-color);
                font-weight: 500;
            }
        }

        .dark {
            button {
                .bx.bx-moon {
                    color: #000;

                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }

        .header__language {
            button {
                color: #000;

                &:hover {
                    color: var(--span-color);
                }
            }
        }

        .header__links {

            .bx.bxl-github,
            .bx.bxl-linkedin,
            .bx.bxl-instagram {
                color: #fff;
            }
        }
    }

    .hero {
        .hero__container {

            .hero__title,
            .hero__subtitle,
            .hero__description {
                color: #000;
            }
        }

        .hero__image {
            .hero__img {
                border: 3.5px solid var(--primary-color);
            }
        }
    }

    .projects {
        .projects__content {

            .project__card {
                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);

                .project__header {

                    .project__name {
                        color: #000;
                    }

                    .project__links {
                        .project__link {
                            color: #000;
                        }
                    }
                }

                .project__description {
                    color: #000;
                }
            }
        }
    }

    .skills {

        .skills__content {

            .skills-subtitle {
                color: #000;
            }

            .skills__list {

                .skills__item {
                    color: #000;
                }

                #html,
                #css,
                #javascript,
                #jquery,
                #react,
                #typescript,
                #tailwind-css,
                #nodejs,
                #figma,
                #bootstrap,
                #php,
                #mysql,
                #gitlab,
                #github,
                #visual-studio {
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }

    .testimonials {

        .testimonials__title,
        .testimonials__description {
            color: #000;
        }

        .testimonials__slider {
            .testimonial {

                .testimonial__text,
                .testimonial__author {
                    color: #000;
                }
            }
        }
    }

    .contact {
        .contacts_container {

            .contact_description {
                color: #000;
            }

            .social-media-title {
                color: #000;
            }

            .cards_container {

                .contact-card {
                    background-color: var(--text-color);

                    .card-infos {

                        p,
                        span {
                            color: #000;
                        }
                    }

                }
            }
        }

        .contact_form_container {
            #contact-form {
                .input-group {
                    label {
                        color: #000;
                    }

                    input,
                    textarea {
                        background-color: var(--text-color);
                        color: var(--text-color-dark);

                        &:focus {
                            outline: 1px solid var(--primary-color);
                        }
                    }

                    input:valid,
                    textarea:valid {
                        border: 1px solid var(--color-validate);

                        &:focus {
                            outline: 1px solid var(--color-validate);
                        }
                    }
                }
            }
        }
    }

    .footer {
        background-color: none;

        .footer__container {
            .footer__logo {
                .header__logo {
                    color: var(--dark-text-color);

                    .header__logo-span {
                        color: var(--primary-color);
                    }
                }
            }

            .footer__links,
            .footer__servicos,
            .footer__contact,
            .footer__redes-socials {
                .footer__nav-list {
                    .footer__nav-item {
                        .footer__nav-link {
                            color: var(--primary-color);

                            &:hover {
                                color: var(--dark-text-color);
                            }
                        }
                    }
                }

                i {

                    &.github,
                    &.linkedin,
                    &.instagram {
                        color: var(--text-color);
                    }
                }
            }
        }

        .footer__outros {
            p.footer__copy {
                color: var(--dark-text-color);
            }
        }

        .scroll-up {
            .scroll-up__link {
                .bx.bxs-chevron-up {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    background-color: var(--primary-color);
                    padding: 6px;
                    border-radius: 50%;
                    color: var(--text-color);
                }
            }
        }
    }
}


/* FIM MODO DARK */