.footer {
    width: 100%;
    height: auto;

    .footer__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .footer__logo {
            .header__logo {
                color: var(--text-color);
                font-size: 24px;
                font-weight: 600;

                .header__logo-span {
                    color: var(--primary-color);
                    font-weight: 500;
                    font-size: small;
                }
            }
        }

        /* Links */
        .footer__links,
        .footer__servicos,
        .footer__contact,
        .footer__redes-socials {
            .footer__nav-list {
                .footer__nav-item {
                    .footer__nav-link {
                        text-decoration: none;
                        color: var(--primary-color);
                        font-size: 16px;
                        cursor: pointer;

                        &:hover {
                            color: var(--text-color);
                        }
                    }
                }
            }

            i {
                &.github,
                &.linkedin,
                &.instagram {
                    font-size: 24px;
                    padding: 6px;
                    border-radius: 50%;
                    color: var(--text-color);
                    margin: 5px;
                    transition: background-color 0.3s, color 0.3s;
                }

                &.github {
                    color: var(--text-color);
                    background-color: #333;
                }

                &.linkedin {
                    color: var(--text-color);
                    background-color: #0077b5;
                }

                &.instagram {
                    color: var(--text-color);
                    background-color: #e1306c;
                }
            }
        }



    }

    .footer__outros {
        text-align: center;
        font-size: 14px;
        color: var(--text-color);
        margin: 20px 0;

        .footer__copy {
            color: var(--text-color);
            text-decoration: none;
        }
    }

    .scroll-up {
        position: fixed;
        bottom: 20px;
        right: 20px;

        .scroll-up__link {
            display: flex;
            justify-content: center;
            width: 40px;
            height: 40px;
            align-items: center;
            color: var(--text-color);
            cursor: pointer;
            transition: transform 0.6s ease-in-out;

            &:hover {
                transform: scale(1.4);
                box-shadow: 0 2px 8px var(--tertiary-color);
            }

            .bx.bxs-chevron-up {
                font-size: 1.8rem;
                color: var(--text-color);
            }
        }

        &:active {
            transform: scale(0.9);
        }
    }
}