.footer {
    width: 100%;
    height: auto;

    .footer__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        .footer__subtitle {
            font-size: 1.3rem;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .footer__logo {
            .header__logo-link {
                color: var(--text-color);
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 20px;

                .header__logo-span {
                    color: var(--primary-color);
                    font-weight: 500;
                    font-size: small;
                }
            }
        }

        .footer__links {
            .footer__nav-item {
                font-size: 16px;
                color: var(--primary-color);
                transition: transform 0.3s ease-out;

                &:hover {
                    color: var(--text-color);
                    transform: scale(1.01);
                }

                .footer__nav-link {
                    text-decoration: none;
                    color: inherit;
                }
            }

        }

        .footer__servicos {
            .servicos__list {
                .servicos__item {
                    font-size: 16px;
                    color: var(--primary-color);
                    transition: transform 0.3s ease-out;

                    &:hover {
                        color: var(--text-color);
                        transform: scale(1.01);
                    }

                    .servicos-link {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
        }

        .footer__contact {
            .footer__content {
                display: flex;
                flex-direction: column;
                ;

                .gmail,
                .phone,
                .location {
                    color: var(--primary-color);
                    text-decoration: none;
                    font-size: 16px;
                    transition: color 0.3s ease;

                    &:hover {
                        color: var(--text-color);
                    }

                    i {
                        margin-right: 4px;
                    }
                }

                .footer__redes-socials {
                    display: flex;
                    margin-top: 20px;
                    gap: 15px;

                    .hero__social-link {
                        width: 40px;
                        height: 40px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        text-decoration: none;
                        color: var(--background-color);
                        font-size: 1.2rem;
                        border-radius: 100%;
                        transition: background-color 0.3s ease;

                        &:hover {
                            color: var(--primary-color);
                        }

                        &.github {
                            color: var(--text-color);
                            background-color: #333;
                        }

                        &.linkedin {
                            color: var(--text-color);
                            background-color: #0077b5;
                        }

                        &.instagram {
                            color: var(--text-color);
                            background-color: #e1306c;
                        }
                    }
                }
            }
        }

    }

    .footer__outros {
        text-align: center;
        font-size: 14px;
        color: var(--text-color);
        margin: 20px 0;

        a {
            color: var(--text-color);
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: var(--primary-color);
            }
        }


    }
}