/* GERAL STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var();
    color: var();
}

a {
    text-decoration: none;
    color: var();
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

p {
    line-height: 1.6;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

section {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


