header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: var(--background-color);
    border-radius: none;


    z-index: 1000;

    position: fixed;
    width: 90%;
    left: 50%;
    top: 0px;
    backdrop-filter: blur(10px);
    transform: translateX(-50%);

    .header__logo {
        .header__logo-link {
            color: var(--text-color);
            font-size: 24px;
            font-weight: 600;
            transition: all 0.3s ease;

            .header__logo-span {
                color: var(--span-color);
                font-weight: 500;
                font-size: small;
            }
        }
    }

    .header__nav {
        .header__nav-list {
            display: flex;
            gap: 20px;


            .header__nav-item {
                cursor: pointer;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 100%;
                    height: 2.5px;
                    background-color: var(--span-color);
                    transform: scaleX(0);
                    transition: transform 0.6s ease-in-out;
                }

                &:hover::after {
                    transform: scaleX(1);
                    width: 100%;
                }

                &.active::after {
                    transform: scaleX(1);
                    width: 100%;
                }

                .header__nav-link {
                    color: var(--text-color);
                    transition: color 0.3s ease;

                    &.active .header__nav-link {
                        color: var(--span-color);
                    }
                }
            }

        }

    }

    .dark {
        button {
            background: none;
            border: none;
            color: var(--text-color);
            font-size: 18px;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
                color: var(--span-color);
            }
        }
    }

    /*     .header__language {
        button {
            display: flex;
            align-items: center;

            gap: 5px;

            background: none;
            border: none;
            color: var(--text-color);
            font-size: 18px;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
                color: var(--span-color);
            }
        }
    } */

    .header__links {
        position: relative;
        display: flex;
        gap: 5px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                color: #fff;
                font-size: 1.5rem;
                transition: color 0.3s ease;
                padding: 8px;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .linkedin {
                background-color: #0A66C2;
            }

            .github {
                background-color: #333;
            }

            .instagram {
                background-color: #E1306C;
            }
        }
    }

    .header__toggle {
        
        width: 40px;
        height: 40px;
        background: none;
        border: none;
        color: var(--text-color);
        font-size: 28px;
        cursor: pointer;
        transition: color 0.3s ease;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgb(255, 255, 255);
            color: var(--span-color);
            border-radius: 50%;
        }
    }

    .header__toggle-container {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 200px;
        height: 100vh;
        background-color: var(--background-color);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transform: translateX(100%);
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        z-index: 999;


        &.active {
            transform: translateX(0);
        }

        .header__toggle-list {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .header__toggle-link {
                color: var(--text-color);
                font-size: 16px;
                transition: color 0.3s ease;

                &:hover {
                    color: var(--span-color);
                }
            }
        }
    }
}