@media (max-width: 768px) {
    .header {
        .header__nav {
            display: none;
        }

        .header__toggle {
            display: block;
            font-size: 28px;
            color: var(--text-color);
            cursor: pointer;
        }
        
        .header__nav--active {
            display: flex;
        }
    }

    .hero {
        .hero__container {
            .hero__socials {
                gap: 10px; 
                flex-wrap: wrap;
            }
        }
    }
    .projects {
        .projects__container {
            flex-direction: column;
            align-items: center;

            .projects__card {
                width: 100%;
                max-width: 400px;
            }
        }   
    }
}