:root {
    --font-family: 'Poppins', sans-serif;

    --primary-color: #e67e22;
    --secondary-color: #ca6f1e;
    --text-color: #ffffff;
    --background-color: #0F0F1E;  
    --span-color: #e67e22;
    --link-color: #000000;
    --link-hover-color: ;
    --button-color: ;
    --button-hover-color: ;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --z-index: 1000;
    --gap: 20px;
    --grid-columns: repeat(auto-fit, minmax(300px, 1fr));
    --grid-gap: 20px;


    /* Modo Dark */
    --dark-background-color: #ffff;
    --dark-text-color: #000;
    --dark-primary-color: #e67e22;
    --dark-secondary-color: #ca6f1e;
    --dark-link-color: ;
    --dark-link-hover-color: ;


    /* Color */
    --color-html: #e34c26;
    --color-css: #264de4;
    --color-jscript: #f7df1e;
    --color-jquery: #0769ad;
    --color-react: #61dafb;
    --color-typescript: #3178c6;
    --color-tailwind-css: #38bdf8;
    --color-nodejs: #68a063;
    --color-figma: #f24e1e;
    --color-bootstrap: #7952b3;
    --color-php: #8892be;
    --color-mysql: #00618a;
    --color-github: #3c3c3c;
    --color-gitlab: #fc6d26;
    --color-linkedin: #0077b5;
    --color-visual-studio: #007ACC;

}