body {
    main {

        /* HERO STYLE */
        .hero {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;

            .hero__container {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .hero__description-inicial {
                    font-size: 1.2rem;
                    color: var(--text-color);
                }

                .hero__title {
                    font-size: 3.8rem;
                    font-weight: bold;
                    color: var(--text-color);

                    .hero__span {
                        color: var(--span-color);
                    }
                }

                .hero__subtitle {
                    font-size: 1.5rem;
                    color: var(--text-color);
                    margin: 10px 0;
                    animation: blink 0.8s infinite;

                    &::after {
                        content: "|";
                        display: inline-block;
                        color: var(--text-color);
                        /* cor do cursor */
                        animation: blink 0.7s infinite;
                    }
                }


                .hero__description {
                    font-size: 1rem;
                    color: var(--text-color);
                    margin-bottom: 20px;
                    text-align: justify;
                }

                .hero__buttons {
                    display: flex;
                    gap: 10px;

                    .hero__button {
                        padding: 10px 20px;
                        border-radius: 5px;
                        text-decoration: none;
                        color: var(--text-color);
                        background-color: var(--primary-color);
                        transition: background-color 0.3s;

                        &:hover {
                            background-color: var(--secondary-color);
                        }
                    }
                }

                .hero__socials {
                    display: flex;
                    gap: 10px;
                    margin-top: 20px;

                    .hero__social-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;

                        color: var(--text-color);
                        font-size: 1.5rem;
                        border: 2px solid var(--primary-color);
                        border-radius: 50%;
                        padding: 5px 10px;
                        transition: color 0.3s, transform 0.3s, background-color 0.3s;

                        &:hover {
                            color: var(--background-color);
                            background-color: var(--primary-color);
                            transform: scale(1.09);
                        }

                        &.github {
                            background-color: #333;
                            color: var(--text-color);
                            border-color: #333;

                            &:hover {
                                background-color: #333;
                                color: #fff;
                            }
                        }

                        &.linkedin {
                            background-color: #0077b5;
                            color: var(--text-color);
                            border-color: #0077b5;


                            &:hover {
                                background-color: #0077b5;
                                color: #fff;
                            }
                        }

                        &.instagram {
                            background-color: #e1306c;
                            color: var(--text-color);
                            border-color: #e1306c;


                            &:hover {
                                background-color: #e1306c;
                                color: #fff;
                            }
                        }
                    }
                }

            }

            .hero__image {
                display: flex;
                justify-content: center;
                align-items: center;

                .hero__img {
                    width: 400px;
                    height: auto;
                    border: none;
                    border-radius: 50% 30% 50% 30% ;
                    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
                    transition: transform 0.3s ease-in-out, border-radius 0.6s ease-in-out;

                    &:hover {
                        border-radius: 50% 50% 50% 50%;
                        /* transform: scale(1.01); */
                    }
                }
            }


        }

        /* ABOUT STYLE */
        .about {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .about__title {
                font-size: 2.5rem;
                font-weight: 700;
                /* margin-bottom: 20px; */
                text-align: center;
            }

            .about__container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;


                .about__image {
                    width: 600px;
                    height: auto;
                    /* border: 3.5px solid var(--text-color); */
                    border-radius: 5px;
                    overflow: hidden;
                    margin-right: 20px;
                    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
                    transition: transform 0.3s ease-in-out;

                    display: flex;
                    justify-content: center;
                    align-items: center;


                    .about__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &:hover {
                        transform: scale(1.01);
                        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
                    }
                }

                .about__content {
                    text-align: justify;
                    padding: 0 20px;
                    max-width: 1000px;

                    .about__description {
                        font-size: 1rem;
                        color: var();
                        margin-bottom: 20px;
                    }

                    .about__span-color {
                        color: var();
                    }

                    .about__buttons {
                        display: flex;
                        gap: 10px;

                        .about__button {
                            padding: 10px 20px;
                            border-radius: 5px;
                            text-decoration: none;
                            color: var(--text-color);
                            background-color: var(--primary-color);
                            transition: background-color 0.3s;

                            &--secondary {
                                background-color: var();
                            }

                            &:hover {
                                background-color: var(--secondary-color);
                            }
                        }
                    }
                }
            }
        }


        /* Projects */

        .projects {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .projects__title {
                font-size: 2.5rem;
                font-weight: 700;
                /* margin-bottom: 10px 0; */
                text-align: center;
            }

            .projects__subtitle {
                font-size: 1.1rem;
                margin-bottom: 10px;
                color: var();
                text-align: center;
            }

            .projects__content {
                display: flex;
                justify-content: space-between;
                align-self: center;
                gap: 10px;

                .project__card {
                    width: 400px;
                    height: 10px auto;
                    padding: 10px 10px;

                    /* border: 2px solid var(--background-color); */
                    border-radius: 5px;
                    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
                    transition: all 0.4s ease-out;

                    &:hover {
                        transform: translateY(-5px);
                        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
                        /* transform: scale(1.02); */
                    }

                    .project__img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    .project__header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 10px;

                        .project__name {
                            font-size: 1.5rem;
                            font-weight: 600;
                            color: var(--text-color);
                        }

                        .project__links {
                            display: flex;
                            gap: 10px;

                            .project__link {
                                color: var(--text-color);
                                font-size: 1.2rem;
                                transition: color 0.3s;

                                &:hover {
                                    color: var(--primary-color);
                                }
                            }
                        }
                    }

                    .project__description {
                        font-size: 0.9rem;
                        color: var(--text-color);
                        margin: 10px 0;
                        text-align: center;
                    }

                    .project__techs {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 10px;

                        .project__tech {
                            background-color: var(--primary-color);
                            color: var(--text-color);
                            padding: 5px 10px;
                            border-radius: 50px;
                            font-size: 0.9rem;
                            transition: background-color 0.3s;

                            &:hover {
                                background-color: var(--secondary-color);
                            }
                        }
                    }
                }
            }

            .projects-btn {
                display: flex;
                justify-content: center;
                align-items: center;

                margin-top: 30px;
                padding: 10px 30px;
                border-radius: 5px;
                color: var(--text-color);
                background-color: var(--primary-color);
                transition: background 0.3s ease-in-out;

                &:hover {
                    background-color: var(--secondary-color);
                }
            }
        }

        /* SKILLS */

        .skills {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;

            .skills__title {
                font-size: 2.5rem;
                font-weight: 700;
                color: var();
                margin-bottom: 10px 0;
            }

            .skills__description {
                font-size: 1rem;
                font-weight: 400;
                color: var();
                margin: 0px 0px 30px 0px;
            }

            .skills__content {
                width: 100%;
                padding: 20px;

                .line {
                    width: 100%;
                    overflow: hidden;
                    margin: 30px 0;
                }

                .skills-subtitle {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: var(--text-color);
                    margin-bottom: 20px;
                }

                .skills__list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 30px;
                    margin-bottom: 20px;

                    .skills__item {
                        color: var(--text-color);
                        padding: 10px 20px;
                        border-radius: 10px;
                        text-align: center;
                        width: 200px;
                        cursor: pointer;
                        text-align: center;


                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .bx {
                            font-size: 1.3rem;
                        }
                    }

                    #html,
                    #css,
                    #javascript,
                    #jquery,
                    #react,
                    #typescript,
                    #tailwind-css,
                    #nodejs,
                    #figma,
                    #bootstrap,
                    #php,
                    #mysql,
                    #gitlab,
                    #github,
                    #visual-studio {
                        text-transform: uppercase;

                        color: var();

                        font-weight: 400;
                        font-size: 0.9rem;
                        padding: 10px 20px;
                        border-radius: 10px;

                        transition: all 0.3s ease;
                        cursor: pointer;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        /* &:hover {
                            background-color: none;
                            color: var(--text-color);
                            transform: scale(1.05);
                        } */
                    }

                    #html {
                        background-color: transparent;
                        border: 1px solid var(--color-html);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-html);
                    }

                    #css {
                        background-color: transparent;
                        border: 1px solid var(--color-css);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-css);
                    }

                    #javascript {
                        background-color: transparent;
                        border: 1px solid var(--color-jscript);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-jscript);
                    }

                    #jquery {
                        background-color: transparent;
                        border: 1px solid var(--color-jquery);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-jquery);
                    }

                    #react {
                        background-color: transparent;
                        border: 1px solid var(--color-react);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-react);
                    }

                    #typescript {
                        background-color: transparent;
                        border: 1px solid var(--color-typescript);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-typescript);
                    }

                    #tailwind-css {
                        background-color: transparent;
                        border: 1px solid var(--color-tailwind-css);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-tailwind-css);
                    }

                    #nodejs {
                        background-color: transparent;
                        border: 1px solid var(--color-nodejs);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-nodejs);
                    }

                    #figma {
                        background-color: transparent;
                        border: 1px solid var(--color-figma);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-figma);
                    }

                    #bootstrap {
                        background-color: transparent;
                        border: 1px solid var(--color-bootstrap);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-bootstrap);
                    }

                    #php {
                        background-color: transparent;
                        border: 1px solid var(--color-php);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-php);
                    }

                    #mysql {
                        background-color: transparent;
                        border: 1px solid var(--color-mysql);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-mysql);
                    }

                    #gitlab {
                        background-color: transparent;
                        border: 1px solid var(--color-gitlab);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-gitlab);
                    }

                    #github {
                        background-color: transparent;
                        border: 1px solid var(--color-github);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-github);
                    }

                    #visual-studio {
                        background-color: transparent;
                        border: 1px solid var(--color-visual-studio);
                        color: var();
                        box-shadow: 0 2px 10px var(--color-visual-studio);
                    }
                }
            }
        }

        /* TESTEMONIALS */
        .testimonials {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .testimonials__title {
                font-size: 2.5rem;
                font-weight: 700;
                color: var(--text-color);
                margin-bottom: 10px;
            }

            .testimonials__description {
                font-size: 1.1rem;
                color: var(--text-color);
                margin-bottom: 30px;
            }

            .testimonials__slider {
                position: relative;
                width: 100%;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: 16px;
                padding: 20px;

                .testimonial {
                    position: absolute;
                    /* para sobrepor no slider */
                    top: 0;
                    left: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    transform: translateY(20px);
                    transition: all 0.6s ease;
                    /* efeito suave de fade + movimento */
                    border-radius: 16px;
                    padding: 24px;

                    .testimonial__image {
                        width: 300px;
                        height: 300px;
                        border-radius: 50%;
                        margin: 0 0 20px 0;
                        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
                    }

                    .testimonial__text {
                        font-size: 1.1rem;
                        color: var(--text-color);
                        margin-bottom: 16px;
                    }

                    .testimonial__author {
                        font-weight: 600;
                        color: var(--text-color);
                        font-size: 1.2rem;
                    }
                }

                .testimonial.active {
                    opacity: 1;
                    transform: translateY(0);
                    position: relative;
                    /* torna o slide visível */
                    z-index: 1;
                }
            }

            .testimonial__controls {
                margin-top: 20px;

                .testimonial__btn {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--primary-color);
                    color: var(--text-color);
                    border: none;
                    border-radius: 50%;
                    padding: 10px;
                    font-size: 1rem;
                    margin: 0 10px;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: var(--secondary-color);
                    }

                    i {
                        font-size: 1.3rem;
                        font-weight: 500;
                    }
                }
            }
        }


        /* Certificado */

        .certificados {
            display: flex;
            flex-direction: column;

            .certificados_title {
                font-size: 2.5rem;
                font-weight: 700;
                color: var();
                margin-bottom: 10px 0;
                text-align: center;
            }

            .certificados_description {
                font-size: 1rem;
                color: var();
                margin-bottom: 20px;
                text-align: center;
            }

            .certificado_content {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .certificados__card {
                    width: 350px;
                    height: auto;
                    text-align: center;
                    border-radius: 5px;
                    padding: 10px;

                    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
                    transition: transform 0.6s ease;

                    &:hover {
                        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
                        transform: scale(1.01);
                    }

                    .description__image {
                        width: 400px;
                        height: auto;
                        border-radius: 5px;
                    }

                    .certificado__btn {
                        margin: 20px 0;

                        .certificado__links {
                            margin: 20px;
                            padding: 10px 20px;
                            color: var(--text-color);
                            background-color: var(--primary-color);
                            border-radius: 5px;

                            &:hover {
                                background-color: var(--secondary-color);
                                color: var(--text-color);
                            }
                        }
                    }
                }
            }

            .certificado__btn-link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                margin: 30px auto 0 auto;
                padding: 10px 20px;
                border-radius: 5px;
                color: var(--text-color);
                background-color: var(--primary-color);
                transition: background 0.3s ease-in-out;

                &:hover {
                    background-color: var(--secondary-color);
                }
            }
        }

        /* Contato */

        .contact {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            .contacts_container {
                width: 50%;

                .contact-subtitle {
                    font-size: 2.5rem;
                    font-weight: 600;
                }

                .contact_description {
                    font-size: 1rem;
                    font-weight: 400;
                    color: var(--text-color);
                    width: 80%;
                }

                .social-media-title {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: var(--text-color);
                    margin-top: 16px;
                }

                .cards_container {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    width: 80%;

                    margin: 24px 0;

                    .contact-card {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
                        background-color: var(--background-color);
                        padding: 18px 12px;
                        border-radius: 8px;
                        text-decoration: none;
                        transition: box-shadow 0.3s ease;

                        &:hover {
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
                        }

                        .card-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            min-width: 40px;
                            min-height: 40px;

                            max-width: 40px;
                            max-height: 40px;

                            border-radius: 100%;

                            font-size: 1.2rem;
                        }

                        .card-infos {
                            p {
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1rem;
                                color: var(--text-color);
                            }

                            span {
                                font-size: 0.8rem;
                                font-weight: 500;
                                color: var(--text-color);
                            }
                        }

                        &.phone {
                            .card-icon {
                                background-color: #faf5ed;
                                color: #cd9c4b;
                            }

                        }

                        &.location {
                            .card-icon {
                                background-color: #dbeafe;
                                color: #3b82f6;
                            }

                        }

                        &.email {
                            .card-icon {
                                background-color: #ede9fe;
                                color: #8b5cf6;
                            }

                        }

                        &.whatsapp {
                            .card-icon {
                                background-color: #dcfce7;
                                color: #16a34a;
                            }

                        }
                    }
                }

                .social-media {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 10px 0;

                        i {
                            color: #fff;
                            font-size: 1.5rem;
                            transition: color 0.3s ease;
                            padding: 8px;
                            border-radius: 50%;
                            cursor: pointer;
                            transition: all 0.3s ease;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                        .linkedin {
                            background-color: #0A66C2;
                        }

                        .github {
                            background-color: #333;
                        }

                        .instagram {
                            background-color: #E1306C;
                        }
                    }
                }
            }

            .contact_form_container {
                width: 50%;
                background-color: var();
                padding: 24px;
                max-width: 800px;
                border-radius: 12px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
                transition: transform 0.3s ease-in-out;

                &:hover {
                    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
                    transform: translateY(-2px);
                }

                #contact-form {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;


                    .input-group {
                        display: flex;
                        flex-direction: column;

                        label {
                            font-size: 0.9rem;
                            color: var(--text-color);
                            font-weight: 500;
                        }

                        input,
                        textarea {
                            padding: 12px;
                            border: 1px solid var(--primary-color);
                            border-radius: 5px;
                            font-size: 0.9rem;
                            outline: none;
                            resize: none;
                            color: var(--text-color);
                            background-color: var(--background-color);
                            margin-top: 8px;
                            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
                        }

                        /* Validação das caixas de texto do Formulário de Contato */

                        input:valid,
                        textarea:valid {
                            border: 1px solid var(--color-validate);

                            &:focus {
                                outline: 1px solid var(--color-validate);
                            }
                        }

                        &:nth-child(3) {
                            grid-column: 1 / 3;
                        }

                        &:nth-child(4) {
                            grid-column: 1 / 3;
                        }
                    }

                    #formMessage {
                        grid-column: 1 / 3;
                        font-size: 0.9rem;
                        color: var(--text-color);
                        margin-top: 10px;
                        height: 20px;
                        text-align: center;
                    }

                    button {
                        grid-column: 1 / 3;
                        padding: 14px 20px;
                        background-color: var(--primary-color);
                        color: var(--text-color);
                        font-size: 16px;
                        font-weight: 500;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;

                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: var(--secondary-color);
                        }
                    }
                }
            }
        }
    }
}